@import "tailwindcss";

@theme {
    --color-laurus-green: #70C812;
    --color-laurus-purple: #7B00FF;

    --animate-move-top-right: move-top-right 20s linear infinite;
    @keyframes move-top-right {
        0% {
            background-position: 0 100%;
        }
        100% {
            background-position: 100% 0;
        }
    }
}